/venv
/ivenv
/mkvenv_tmp
/apidocs
/usr
/settings/local.py
/templates/email/build/*
/scripts/dump
/scripts/config

# not_found templates for any course should be updated at every dashboard deploy, so we need to ignore them
templates/not_found/*.html

.build_tag
Dockerfile.tests
junit-reports/

*.pyc
*.log
gitignored

# NOTE: don't add your IDE/environment files here. Make a global .gitignore file on your machine.
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
brain2.iml
*.sqlite3
.DS_Store
*.project
.settings/
*~
ses.lock
ses.log
ses.log.*
*.pid
*.swp
production_server
periodic_checks.lock
brain2.sublime-project
brain2.sublime-workspace
.coverage

node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
